@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Barlow Semi Condensed Regular'), local('BarlowSemiCondensed-Regular'), 
    url(/font/BarlowSemiCondensed-Regular.woff2) format('woff2'), 
    url(/font/BarlowSemiCondensed-Regular.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 500;
  src: local('Barlow Semi Condensed Medium'), local('BarlowSemiCondensed-Medium'),
    url(/font/BarlowSemiCondensed-Medium.woff2) format('woff2'),
    url(/font/BarlowSemiCondensed-Medium.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --accent: #5644fa;
  --light: #dcdeee;
  --dark: #282831;
  --medium: #b4b6ca;
}

/* RESETS */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
  text-transform: uppercase;
}

hr {
  height: 1em;
  border: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-weight: 500;
}

::selection {
  background: var(--medium);
}

body {
  background: #fff;
  color: var(--dark);
  font: 15px "Barlow Semi Condensed", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.15em;
  text-transform: lowercase;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#navbar {
  width: 100%;
  height: 45px;
  background: #fff;
  border-bottom: 1px solid #e5e7f3;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}
#navbar a {
  transition: color 0.5s;
}

#navbar a:hover {
  color: var(--accent);
}

#navbar .logo {
  font-size: 1.2em;
}

.container {
  width: 100%;
  max-width: 1120px;
}

.noscroll {
  overflow: hidden;
}

.color {
  color: var(--accent);
}

.liner {
  border-bottom: 2px solid var(--accent);
}

.lead {
  font-size: 1.3em;
}

.nav-links a {
  margin-left: 4em;
}

.nav-toggle {
  display: none;
}

#navbar .container {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5em;
}

/* CONTACT */
#contact,
#contact-msg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #ebebecd5;
  z-index: 6;
  display: none;
}

#contact .container,
#contact-msg .container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: auto;
  background: #fff;
  padding: 2em;
  border-radius: 5px;
  box-shadow: 0 3px 35px #d6d6db9a;
  z-index: 7;
}

#contact input,
#contact textarea {
  display: block;
  width: 100%;
  border: 0;
  border: 1px solid var(--light);
  padding: 2px 10px;
  outline: 0;
  font: inherit;
  margin: 1em 0 0.5em 0;
}

#contact textarea {
  min-height: 6em;
}

#contact input[type="submit"] {
  background: var(--accent);
  border: 0;
  color: #fff;
  letter-spacing: 2px;
  cursor: pointer;
  padding: 5px 0;
  border-radius: 3px;
}

#contact input[type="submit"]:hover {
  box-shadow: 2px 2px 30px #5f44fac4;
}

.close:before {
  content: "\00d7";
  position: absolute;
  top: -7px;
  right: 10px;
  font-size: 2em;
  cursor: pointer;
}

#contact-msg .container {
  z-index: 9;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* honeyopot */
.hidden {
  display: none !important;
}

.skip-link {
  font-size: 1.1em;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.arrow {
  border: solid var(--accent);
  border-width: 0 3px 3px 0;
  display: block;
  height: 10px;
  width: 10px;
  transform: rotate(45deg);
  will-change: transform;
  transition: all 0.5s;
}
.skip-link:hover span.arrow {
  transform: translateY(10px) rotate(45deg);
}
#header {
  display: grid;
  grid-template-columns: minmax(200px, 1100px);
  justify-content: center;
  padding-top: 60px;
}
.project-header {
  font-size: 1.6em;
}
.hero-tag {
  font-size: 0.9rem;
  text-transform: lowercase;
}
blockquote {
  font-size: 2.5em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.3;
  margin-top: 0.75em;
}
blockquote.small {
  font-size: 1.05em;
  font-weight: 400;
  text-transform: initial;
  margin-top: 2em;
}
blockquote:before {
  content: "\201C";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff0;
  font: 3.5em Arial, sans-serif;
}
blockquote.small:before {
  font-size: 6em;
}
blockquote > cite {
  color: inherit;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  text-transform: capitalize;
  display: block;
  padding-top: 1em;
}
blockquote > cite:before {
  content: "-";
  padding-right: 5px;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
}
.is-fullheight {
  min-height: 100vh;
  padding: 4.5em 1.5em;
}
.is-fixed {
  position: fixed !important;
  transform: translateY(0) !important;
}
.spacer {
  margin-top: 2em;
}
.double-spacer {
  margin-top: 4em;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.2em;
}
.is-grid {
  display: grid;
  align-items: center;
  grid-gap: 20px 30px;
}
.is-tall {
  grid-row: 1 / span 2;
  grid-column: 3;
}

/* ABOUT */
#about .logo {
  width: 95px;
  display: inline-block;
  line-height: 2;
}
#about .container {
  max-width: 660px;
}
.portrait {
  max-width: 130px;
  margin: 0 auto;
  border-radius: 50%;
}
#about li {
  display: inline;
  padding: 0 14px;
}
#about .skills li:before {
  content: "#";
  color: var(--accent);
}
.contact a {
  text-transform: lowercase;
  font-weight: 400;
}

/* PORTFOLIO */
.project-img {
  position: relative;
  line-height: 0;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4748863b;
  opacity: 0;
  transition: all 0.25s ease-in-out;
  pointer-events: none;
}
.project-img:hover .overlay {
  opacity: 1;
}

.project p {
  line-height: 1.1;
}
.project-title {
  font-size: 0.9em;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 0.65em;
}
.project-tag {
  font-size: 0.8rem;
  text-transform: lowercase;
  color: var(--medium);
}

/* 404 */
.error-page {
  font-size: 1.1em;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-page a {
  display: inline-block;
  border: 1px solid var(--accent);
  padding: 0.5em 1em;
  margin: 1em 0;
}

.error-page a:hover {
  color: var(--accent);
}

/* FOOTER */
footer {
  width: 100%;
  font-size: 0.8em;
  padding: 1.5em 0;
  background-color: #fff;
  border-top: 1px solid #efefef;
  display: flex;
  justify-content: center;
  /* keep at bottom of page */
  margin: auto auto 0 auto;
}
footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-links .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  padding: 0 12px;
  opacity: 0.7;
}
.social-links .icon:hover {
  opacity: 1;
}
.github {
  background: url("/img/github.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.codepen {
  background: url("/img/codepen.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.industria {
  background: url("/img/industria-criativa.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.artstation {
  background: url("/img/artstation.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.line:after {
  content: "";
  display: block;
  width: 15px;
  height: 2px;
  background: var(--accent);
  margin: 0.2em auto;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.grow {
  height: 230px !important;
}
/* RESPONSIVE */
@media (max-width: 660px) {
  #navbar {
    height: 45px;
    align-items: start;
    text-align: left;
  }
  #navbar .container {
    flex-flow: column;
  }
  .logo {
    margin-bottom: 8px;
    padding: 8px 0;
  }
  .nav-toggle {
    display: inline-block;
    position: absolute;
    right: 1.5em;
    top: 16px;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
  .nav-toggle span {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 16px;
    background: var(--dark);
    position: absolute;
    transform: rotate(0deg);
    transition: all 0.3s ease-out;
  }
  .nav-toggle span:nth-child(1) {
    top: 0;
  }
  .nav-toggle.open span:nth-child(1) {
    transform: rotate(-45deg) translate(-6px, 5px);
  }
  .nav-toggle span:nth-child(2) {
    top: 7px;
    opacity: 1;
  }
  .nav-toggle.open span:nth-child(2) {
    opacity: 0;
  }
  .nav-toggle span:nth-child(3) {
    top: 14px;
  }
  .nav-toggle.open span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -4px);
  }
  .nav-links {
    display: flex;
    flex-direction: column;
  }
  .nav-links a {
    margin: 0;
    line-height: 2.5;
  }
  .is-grid {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 660px) {
  .is-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .is-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media print {
  #navbar,
  .skip-link:hover,
  #frontend,
  #creative,
  footer {
    display: none;
  }
}
